<div class="dots" data-path="{{path}}">
    <span class="dot {{dotState value final 1}}" data-value="1"></span>
    <span class="dot {{dotState value final 2}}" data-value="2"></span>
    <span class="dot {{dotState value final 3}}" data-value="3"></span>
    <span class="dot {{dotState value final 4}}" data-value="4"></span>
    <span class="dot {{dotState value final 5}}" data-value="5"></span>

    <span class="dot-gap"></span>
    
    <span class="dot {{dotState value final 6}}" data-value="6"></span>
    <span class="dot {{dotState value final 7}}" data-value="7"></span>
    <span class="dot {{dotState value final 8}}" data-value="8"></span>
    <span class="dot {{dotState value final 9}}" data-value="9"></span>
    <span class="dot {{dotState value final 10}}" data-value="10"></span>
</div>